
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="dist/vue-google-maps.js"></script>
    <title>Haversine FUN</title>
</head>
<body>
    <h1>Haversine Test Page</h1>
    <main id="app">
        <h2>{{postalMessage}}</h2>
        <form @submit.prevent="pullLocation(postal)">
            <label>Your Postal Code</label>
            <input v-model="postal" maxlength="6" name="postal">
            <button name="submit">Submit</button>
        </form>
        <div id="map">
            <gmap-map
            :center="{lat:curLat, lng:curLng}"
            :zoom="11"
            map-type-id="terrain"
            style="width: 1000px; height: 600px"
            >
            <!-- <gmap-info-window
            :position="windowPosition"
            :opened="windowOpen"
            :options="windowOptions"
            @closeclick="windowClose"
            >
            <h2>{{windowInfoTitle}}</h2>
            <h3>Address: {{windowInfoAddress}}</h3>
            <h3>Phone: {{windowInfoPhone}}</h3>
            </gmap-info-window> -->
            <gmap-marker
            :position="{lat:curLat, lng:curLng}" icon="http://maps.google.com/mapfiles/ms/icons/blue-dot.png"
            />
            <gmap-marker
                :key="index"
                v-for="(c, index) in closeClinics"
                :position="{lat:c.Latt, lng:c.Longt}"
                :clickable="true"
                @click="clinicClick({lat:c.Latt, lng:c.Longt}, c, index)"
            />
            </gmap-map>
            <div id="info-wrp" v-if="windowOpen">
                <div id="infowindow">
                    <h2 id="title">{{windowInfoTitle}}</h2>
                    <h3 id="address">Address: {{windowInfoAddress}}</h3>
                    <h3 id="phone">Phone: {{windowInfoPhone}}</h3>
                    <div id="wrapper">
                        <h4 id="distance">Distance: {{windowInfoDistance}}</h4>
                        <a id="website" target="_blank" :href="windowInfoWebsite">Website: {{windowInfoWebsite}}</a>
                    </div>
                </div>
            </div>
            
        </div>
        <div id="info">
            <div v-for="(c, index) in closeClinics" :key="index">
                <h2>{{c.Clinic_Name}}</h2>
                <h3>{{c.Address}}</h3>
                <h3>{{c.Phone}}</h3>
                <a :href="c.Website">Website</a>
                <h4>{{c.Actual_Distance}}</h4>
            </div>
        </div>
    </main>
    <script src="config/config.js"></script>
    <script src="js/main.js"></script>
</body>
</html>